/*=============== colors used in Hemachandra================= 
    
    orange color applied code : #ff6b00;
    Blue color applied code : #031f60;
    grey color applied code : #c1c1c1;

*/


/* Hemachandra design start below : ALL */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,body{
    color: #555;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue' ,'Open Sans', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility; /* make font rendering perfect way*/
    overflow-x: hidden;
    
    
}

body{
    background-image: url(../img/pattern/max-pattern.png);
    background-attachment: fixed;
/*    background-repeat: space;*/
    
}

header{
/*    background-image: url("../img/pattern.png");*/
    
}

.clearfix {zoom:1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* reusable componenets */
.row{
/*    max-width: 1140px; Recommended size above purpose commented*/
    max-width: 1200px;
    margin: 0 auto;
}

.navirow{
    max-width: 929px;
    margin: 0 auto;
    max-height: 200px;
}


.box{
    padding: 1%;
}

/*---------------------------------*/
/* HEADER COMPONENTS : ALL THE HEADER RELATED GOING HERE */
/*---------------------------------*/
.logocen {
    transform: translate(4%, 16%);
}

.logo {

   height: 116px;
    width: 181px;
    margin: 0 auto !important;
    margin-top: 20px;
    /*
    height: 100px;
    width: auto;*/
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    background: #fff;
}


.main-nav{
    /*
        list-style: none;
        margin-top: 60px;
        margin: 0 auto;
        padding: 0 31px 30px 48px;

    */
   /* list-style: none;
    margin-top: 60px;
    margin: 0 auto;
    font-size: 15px;
   margin-left: -115px;
    padding: 0 31px 26px 103px;
    font-family: "HelveticaNeue-Light";
        font-size: 98%;*/
        
        list-style: none;
    margin-top: 60px;
    margin: 0 auto;
    margin-left: -85px;
    padding: 0 31px 26px 103px;
    font-family: "HelveticaNeue-Light";
    font-size: 17px;

}

.main-nav li{
    display: inline-block;
/*    margin-left: 40px;*/
    margin-left: 43px;
    margin-top: -20px;
}

main-nav li.left {
 float:left;
}
main-nav li.right {
 float:right;
}
.fixed{
    display: none;
}

/* language UL list*/

.language-list {
    list-style: none;
    margin-top: 60px;
    margin: 0 auto;
   
}

.language-list a{
    border-bottom: 1px solid transparent !important;
}

.language-list li{
    display: inline-block;
    margin-left: 40px;
}

.language-list li .right{
    float:right;
}

.language-list .toprightul{
    color: #a0a0a0 !important;
}

.language-list li a:link, 
.language-list li a:visited
{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s; /*transition the hover border interval*/
    padding: 26px 0;
}

.language-list {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    transform: translate(-50% , 189%);
    display: block;
    width: 50%;
}



/* menu content top right UL list*/

.rightsitemenu-top{
    list-style: none;
    margin-top: 60px;
    margin: 0 auto;
   
}



.rightsitemenu-top li{
    display: inline-block;
/*    margin-left: 40px;*/
    margin-left: 22px;
}

.rightsitemenu-top li .right{
    float:right;
}

.rightsitemenu-top .toprightul{
    color: #a0a0a0 !important;
}

.rightsitemenu-top li a:link, 
.rightsitemenu-top li a:visited
{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s; /*transition the hover border interval*/
    padding: 26px 0;
}


.rightsitemenu-top {
/*
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    display: block;
    transform: translate(0, 180%);
    padding: 0px;
    margin-right: 9px;
    text-align: right;
*/
    
 
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    display: block;
    /*transform: translate(0, 281%);*/
    /*transform: translate(-21px, 281%);*/
    padding: 0px;
    margin-right: 9px;
    text-align: right;
    margin-left: 35px;
    
    
}




/* language UL list end*/

.rightsitemenu-top li a:link,
.rightsitemenu-top li a:visited{
    font-size: 110%;

}

/*
.main-nav li a{
    font-size: 98%;
}
*/

.main-nav li a:link, 
.main-nav li a:visited
{
    color: #000;
    text-decoration: none;
/*    text-transform: uppercase;*/
    font-size: 90%;
    border-bottom: 4px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s; /*transition the hover border interval*/
/*    padding: 26px 0;*/
    padding: 28px 0;
}

.main-nav li a:hover, 
.main-nav li a:active 
{
    border-bottom: 3px solid #ff6b00;
    color: #ff6b00;
}

.navigation-top{   
    margin-bottom: 15px;
    top: 0;
    margin: 0 auto;

}

*:focus{
    outline: none;
}

.langselectbar{
    outline: none;
    border: none;
}



/* search bar style */

/*---- Icon -------*/
.icon-big{
    font-size: 350%;
    display: block;
    color: #000;;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #000;
    font-size: 120%;
    margin-right: 10px;
    /* secret of align a text and icon*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -1px !important;
}

.search{
    outline: none;
/*    box-shadow: 0 4px 5px #efefef;*/
    height: 27px;
/*    width: 16%;*/
    width: 64%;
    border: 2px solid #bdb8b8;
    background-color: white;
/*    border-radius: 16px 16px 16px 16px;*/
/*    margin-left: -14px;*/
    margin-left: -2px;
    
    border: 0;
    border-bottom: 1px solid black;

}

.js-searchbar{
     cursor: pointer;
}

.search{
    display: none;
}



section{
    padding: 80px 0;
    background: #fff;
}


/*---------------------------------*/
/* FEATURES SECTIONS */
/*---------------------------------*/
.section-feature .long-copy{
    margin-bottom: 30px;
}

.long-copy{
    font-family: "HelveticaNeue-Light";
    font-size: 100% !important;
    color: #717070 !important;
}

.first-section{
    background-color: #fff;
    margin-bottom: -144px;
}

.section_story_paragraph_hemachandra{
/*    padding-bottom: 98px; comment by raheem*/
    padding-bottom: 122px;
}

/*---------------------------------*/
/* Banner section */
/*---------------------------------*/
.banners-carosul{
    padding: 0;
}

/*---------------------------------*/
/* Heading */
/*---------------------------------*/
h1,h2,h3
{
    font-weight: 300;
    /*make it uppercase letter*/
    text-transform: uppercase; 
    
}

h1{
    margin-top: 0 !important;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240% !important;
    word-spacing: 4px !important;
    /*space between letter*/
    letter-spacing: 1px !important; 
}

h2{
   font-size: 180%;
    word-spacing: 2px!important;
   text-align: center;
    margin-bottom: 30px;
    /*space between letter*/
    letter-spacing: 1px !important; 
}
h3{
/*    font-size: 110%;*/
    margin-bottom: 15px;
    font-size: 125%;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto; /*left and right is auto top and down is 0 */
    margin-top: 30px !important;
}

.content-desc1 {
    width: 70% !important;
    margin: 0 auto !important;
    
}


.content-desc1 p, a{
    line-height: 171%;
    text-align: center;
    margin: 0 auto;
    color: #000;
    font-size: 91%;
}

.content-desc1 .more{
    text-align: center;
    margin-top: 12px;
    font-size: 93%;
}

/*---- Generic Links -------*/
/*
a:link, a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}
*/

.more a:link,
.more a:visited{
    color: #000 !important;
    font-size: 71% !important;
}
.long-copy{
    margin-bottom: 32px !important;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #9c9c9c;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
    
    font-weight: 400;
}

a:hover,
a:active{
    color: #ff6b00 !important;
    border-bottom: 1px solid transparent;
}

/*========= contents banner grid ====*/
.content-banner-grid .span-1-of-3 {
    width: 30.26%;
}
figure.effect-sarah p {
    padding: 7em 0 !important;
}

.content-banner-grid h2{
    font-size: 99% !important;
    float: left;
    transform: translate(1%, 78%);
}

.content-banner-grid{
    margin: 0 auto;
}

.grid{
    margin: 0 auto;
}



/*======= content banner grid end==*/

/* slider carousel banner css style */
#container {
  width: 100%;
}

#slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#slider-container ul li {
  float: left;
}
#slider-container ul li img {
  width: 100%;
  float: left;
}
#slider-container .arrow {
  display: block;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
}
#slider-container .arrow:before, #slider-container .arrow:after {
  content: "";
  display: block;
  width: 34px;
  height: 1px;
  position: absolute;
  background: white;
  border-top: 1px solid grey;
}
@media (max-width: 680px) {
  #slider-container .arrow {
    transform: translateY(-50%) scale(0.5);
  }
}
#slider-container .arrow.a-left {
  left: 15px;
}
#slider-container .arrow.a-left:before {
  top: 0;
  left: 0;
  margin-top: 0;
  transform: rotate(-45deg);
  transform-origin: 100% 0;
}
#slider-container .arrow.a-left:after {
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  transform: rotate(45deg);
  transform-origin: 100% 0;
}
#slider-container .arrow.a-right {
  right: 15px;
}
#slider-container .arrow.a-right:before {
  top: 0;
  right: 0;
  margin-top: 0;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
#slider-container .arrow.a-right:after {
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
#slider-container .bullets-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
#slider-container .bullets-container .bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
  margin: 0 8px;
}
#slider-container .bullets-container .bullet.active {
  background: grey;
}


/* style hover effect*/
.grid figure figcaption, .grid figure figcaption > a {
    position: absolute;
    top: -42px !important;
    left: -14px !important;
    width: 82%;
    height: 71%;
    font-size: 18px !important;
}

.grid figure {
/*
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 32% !important;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    height: 24% !important;
*/
    
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 319px;
    min-height: 145px !important;
    max-width: 480px;
    max-height: 79px !important;
    text-align: center;
    cursor: pointer;
}

.box-grid-style{
    display: block;
    margin-top: -196px;
    margin-bottom: 148px;
}


/* section mothers day 3rd section */
.main-box{
    width: 100%;
    height: 340px;
    background-color: #031f60;
    
}


.content-description {
    width: 78%;
    color: #fff;
    display: inline-block;
    position: absolute;
    margin-top: 8%;
}

.content-description h2, p{
    color: #fff;
    
}

.contentstyle{
    margin: 0 auto;
    text-align: center;
   
}


.contentstyle p{

    font-size: 75%;
    line-height: 24px;
    /* width: 80%; */
    padding: 0 10% 0 9%;
}

.motherday-pics{ 
    text-transform: capitalize !important;  
    font-family: "HelveticaNeue-Light";
    margin-top: -31px;
    margin-bottom: 32px;
}

.discover{
    margin-top: 6%;
    font-size: 73%;
    text-transform: uppercase;
}

.jew-image {
    width: 100%;
    /* margin-left: -369px; */
}

.content-images {
    width: 56%;
    position: absolute;
    left: 46%;
    top: -124px;
}
    

.repsonsive-contents{
     height: 359px;
    width: 85%;
    position: absolute;
    left: 2%;
    top: -112px;
}

.logomob{
    display: none;
}
.content-banner-grid figure{
    height: 191px !important;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 5em;
    list-style: none;
    text-align: center;
}

figure.effect-sarah h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 47px!important;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

span a:link {
    cursor: pointer;
    border-bottom: 1px solid white;
    
}

.banner-bullet-rows{display: none !important;}

.grid-main-ban-class{
    font-size: 95% !important;
    font-weight: 100 !important;
    text-transform: capitalize !important;
    font-family: "HelveticaNeue-Light";
    line-height: 36px;
    margin-top: -23px !important;
}

.craftman-box{
    float: right;
/*    margin-top: 20px;*/
}

.craft-box-image {
    width: 63%;
/*    margin-left: 10px;*/
}

.craft-box{
    margin: 0 auto;
    text-align: center;
    transform: translate(11%);
   
}
.craft-box p{

    font-size: 75%;
    line-height: 24px;
    /* width: 80%; */
    padding: 0 10% 0 9%;
}

/* Product aminate slider effects css start here*/
.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  left: 50%;
/*  transform: translate(-50%, -50%);*/
    
transform: translate(-50%, -14%)
/*
  background-color: #fff;
  background-image: linear-gradient(#fff 50%, #fff 50%, #f0f3fc 50%);
  box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75);
     overflow: hidden;
      top: -7%;
*/
  
}
.carousel-wrapper .carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
.carousel-wrapper .carousel .carousel-cell {
  padding: 10px;
  background-color: transparent;
  width: 20%;
  height: auto;
  min-width: 120px;
  margin: 0 20px;
  transition: transform 500ms ease;
}
.carousel-wrapper .carousel .carousel-cell .more {
  opacity: 0;
  margin: 5px 0 15px 0;
  text-align: center;
  font-size: 10px;
  color: #cfcfcf;
  text-decoration: none;
  transition: opacity 300ms ease;
}
.more{
    color:#052263 !important; 
    text-transform: uppercase;  
}
.carousel-wrapper .carousel .carousel-cell .more:hover, .carousel-wrapper .carousel .carousel-cell .more:active, .carousel-wrapper .carousel .carousel-cell .more:visited, .carousel-wrapper .carousel .carousel-cell carousel-cell.is-clicked .more:focus {
  color: #cfcfcf;
  text-decoration: none;
}
.carousel-wrapper .carousel .carousel-cell .line {
  position: absolute;
  width: 2px;
  height: 0;
  background-color: black;
  left: 50%;
  margin: 5px 0 0 -1px;
  transition: height 300ms ease;
  display: block;
}
.carousel-wrapper .carousel .carousel-cell .price {
  position: absolute;
  font-weight: 700;
  margin: 0px auto 0 auto;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 300ms ease 300ms;
}
.carousel-wrapper .carousel .carousel-cell .price sup {
  top: 2px;
  position: absolute;
}
.carousel-wrapper .carousel  .carousel-cell.is-clicked {
    /* select css .carousel-cell.is-selected class*/
/*  transform: scale(1.2); comment for purpose*/
  transform: translate(0%,-19%);
}
.carousel-wrapper .carousel .carousel-cell.is-clicked  .line {
  height: 35px;
}
.carousel-wrapper .carousel .carousel-cell.is-clicked  .price, .carousel-wrapper .carousel .carousel-cell.is-selected,  .more  {
  opacity: 1 !important;
}
.carousel-wrapper .flickity-page-dots {
  display: none;
    
}
.carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
  overflow: visible;
}

.carousel-cell {
  width: 66%;
}

.carousel-cell img {
  max-width: 100%;
  height: auto;
  display: block;
}

.carousel-cell h3 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}

/* update content area : default one
.content-area{
    width: 100%;
    height: 199px;
}
*/

/*
.content-area {
    width: 100%;
    height: 163px;
    margin-top: 3px;
}
*/

.content-area {
    width: 100%;
    height: 190px;
    margin-top: -79px;
}

/* updated content area : second modified
.content-area {
    width: 100%;
    height: 231px;
    margin-top: -104px;
}
*/

.carousel-cell h4{
    font-family: "HelveticaNeue-Light";
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
}
.carousel-cell .price{
      width: 100%;
    text-align: center;
    margin-top: 23px;
}

.carousel-cell p{
    color: #969696 !important;
    font-size: 12px;
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    line-height: 16px;
}

.left-opacity{
    width: 21%;
    /*height: 40%; comment after added paralax effects*/
    height: 11%;
    background: linear-gradient(to right, rgba(255, 254, 254, 0.93), rgba(255, 252, 252, 0.41));
    position: absolute;
    z-index: 1;
    margin-top: -61px;
}
.right-opacity{

    float: right !important;
    width: 21%;
    /*height: 40%; comment after added paralax effects*/
    height: 11%;
    background:  linear-gradient(to right,rgba(255, 252, 252, 0.41), rgba(255, 254, 254, 0.93));
    position: absolute;
    z-index: 1;
    margin-top: -61px;
    margin-left: 79%;
}

/* Product aminate slider effects css end here*/


/* section : hemachandra special description: start here*/
.box p{ 
    font-size: 70%;
    line-height: 173%;
    font-weight: 400;
    color: black;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue' ,'Open Sans', 'Arial', sans-serif;
}

.box img{
/*    width: 100%;*/
    width: 93%;
    height: auto;
    margin-bottom: 15px;
}
.hemachandra-special-title{
    text-transform: capitalize !important;
    color: #052263;
    font-family: "HelveticaNeue-Light";
    font-size: 133%;
}
/* section : hemachandra special description end here*/

/* Section historical background section */
.historical-background{
    background-image: url(../img/history_hemachandra/image1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 365px;

}
.history-description-box{
    width: 80%;
    height: 235px;
    background-color: #031f60;
    margin: 0 auto;
    transform: translate(0, 291px);
}
.hemachandra-history-craft{
    margin-top: -81px; 
    padding: 80px 0px;
    margin-bottom: 59px;
    background: white;
    padding-bottom: 198px;
}
.hemachandra-history-contents{
    font-family: "HelveticaNeue-Light";
    text-align: center;
    position: absolute;
    margin-top: 45px;
    width: 77%;
    left: 11%;
}
.hemachandra-history-title{
/*    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue' ,'Open Sans', 'Arial', sans-serif;*/
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 25px;
}

.heamchandra-paragraph{
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue' ,'Open Sans', 'Arial', sans-serif;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
/*    font-size: 75%;*/
        font-size: 13px;
    line-height: 25px;
    margin-bottom: 32px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 29px;
}
.our-story{
    text-transform: uppercase;
/*    font-size: 77%;*/
    font-size: 12px;
    color: white !important;
}
    
/* Section historical background section end*/

/* Footer section style start*/
footer{
    background-color:#c1c1c1;
    padding: 112px;
    font-size: 80%;
    border-bottom: 3px solid #fb806cf7;
/*    height: 240px;*/
    height: 283px;
}
.footer-nav{    
    list-style: none;
    text-align: center;
    color: black !important;
    font-size: 103%;
    font-weight: 400;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue' ,'Open Sans', 'Arial', sans-serif;
    font-style: italic;
    text-transform: capitalize;
/*    s*/
    margin-bottom: 26px;
}

.bottom-footer{    
   
    list-style: none;
    text-align: center;
    color: black !important;
    font-size: 70%;
    font-weight: 400;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue' ,'Open Sans', 'Arial', sans-serif;
    text-transform: capitalize;
    margin-top: -2px;
}


.social-link{
    list-style: none;
    text-align: center;
}
.footer-nav li,
.social-link li,
.bottom-footer li{
    display: inline-block;
    margin-right: 20px;
}

.social-link{
    list-style: none;
    text-align: center;
}

.list-of-social-icon:hover{
    background: #ff6b01;
}

.footer-nav li,
.social-link li,
.bottom-footer li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li: last-child,
.social-link li: last-child,
.bottom-footer li:last-child {
    margin-right: 0 !important;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.bottom-footer li a:link,
.bottom-footer li a:visited,
.social-link li a:link,
.social-link li a:visited
{
    text-decoration: none;
    border: 0;
    color: #5f5f5f;
    -webkit-transition: color 0.2s !important;
    transition: color 0.2s !important;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.bottom-footer li a:hover,
.bottom-footer li a:active
 {
    color: #ddd;
}

.social-link li a:link,
.social-link li a:visited{
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color:  #55acee;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #fccc63;
}

.footer-nav-links{
    margin: 0 auto !important;
}

.hemachandra-footer-logo{
    text-align: center;
/*    margin-bottom: 12px; */
    margin-bottom: 32px;
    
    margin-top: -47px;
}
.sociallinks li{
    text-align: center;
    border: 2px solid #949292;
        border-radius: 100%;
    width: 24px;
    font-size: 8px;
/*
    border-radius: 50%;
    width: 30px;
    font-size: 11px;
*/
    
/*
        border-radius: 64%;
    width: 24px;
    font-size: 9px;
*/
}
.bottom-footer-container{
/*    padding: 47px 0;*/
    padding: 76px 0;
    background: #dbdbdb;
    font-size: 17px;
}
.copywrite{
    color: black;
    font-size: 70%;
    float: right;
}
.projectby{
    color: black;
    font-size: 70%;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
}
.companylogoimage{
    margin-top: -5px;
}
.secondrow{margin-top: -23px;}

/* Footer section style end*/


/* =================Remake Customize codes========================== */
.mother-day-content-grid{
    margin-top: -265px;
    line-height: 24px;
    text-align: center;
    position: relative;
    margin-left: 11%;
}

.motherday-pics-title{
    text-transform: capitalize !important;
    font-family: HelveticaNeue-Light;
    margin-top: -31px;
    margin-bottom: 32px; color:white;
}

.mothersday-pic-paragraph{
/*    font-size: 75%;*/
    line-height: 24px;
    /* width: 80%; */
    padding: 0 10% 0 9%;
    font-size: 13px;
    font-weight: 400;
}

.mothers-day-right-section-content{
    width: 100%;
    position: relative;
    margin-top: -356px;
    margin-left: -10px;
    
    
}
.mothers-day-special-img{
     width: 100%;
        height: 362px;
    margin-top: -7px;
}



/* craft man section css customize */

.craftman-section-title{
    text-transform: capitalize !important;
    font-family: HelveticaNeue-Light;
    margin-top: -31px;
    margin-bottom: 32px; color:white;
}

.craftman-content-grid{
/*    margin-top: -265px;*/
/*    margin-top: 67px;*/
    line-height: 24px;
    text-align: center;
    position: relative;
    
        margin-top: 96px;
}
.craftman-left-section-content {
    width: 100%;
    position: relative;
    margin-top: -15px;
    margin-left: 18px;
}
.craft-man-left-img{
     width: 100%;
    height: 362px;
    margin-top: -7px;
}

.craftman-section-paragraph{
/*    font-size: 75%;*/
    font-size: 13px;
    line-height: 24px;
    /* width: 80%; */
    padding: 0 10% 0 9%;
    font-weight: 400;
}

.craftgrid-left{
    width: 100%;
    position: relative;
    margin-top: -17px;
    margin-left: 13px;
}
.craft-content-class{
    width: 44%;
}

.js-searchbar{
   border: none !important; 
}

.hemachandra-grid-desc{
  margin-top: -67px; 
  margin-bottom: 33px;
}

.close-icon{
    content: "\2716" !important;
}

/* banner under grid section styling */
figure.effect-sarah h2::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
     transition: transform 0.35s; 
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    margin-left: 48px;
}





.grid-paragraph-class{
    opacity: 1 !important;
    transform: translate3d(1%,0,0) !important;
    width: 65%;
    line-height: 20px;
}

/* return policy notice css start here*/
.return-policy-notice{
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #182e63ed;
    font-size: 105%;
   
   
}
.policy-paragraph{
     text-align: center;
    color: white;
    font-size: 63%;
/*    margin-top: 11px;*/
    margin-top: 1%;

}

.policy-paragraph a{
    color: white; 
    text-decoration: underline; 
    text-transform: capitalize;
    text-decoration: none;
}

.policy-close-divider{
    position: absolute;
    top: 3px;
    right: 10px;
    
}

.close-ionic-icon i{
    font-size: 200%;
}


/* navigation sub menus css */

.navigation-submenu-row{
    max-width: 100%;
    max-width: 100%;
    margin: 0 auto;
     position: absolute;
    background: #fff;
    z-index: 99999 !important;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #efefef;
    margin-top: 27px;
   
        height: 318px;

}

.hemachndra-sub-menu{
    text-decoration: none;
    list-style: none;
    font-size: 82%;
    width: 50%;
    color: black;
    margin-left: 54px;
    z-index: 99999 !important;
}
.hemachndra-sub-menu li a:link, 
.hemachndra-sub-menu li a:visited,
.hemachandra-second-sub-menu li a:link, 
.hemachandra-second-sub-menu li a:visited
{
    color: #000;
    text-decoration: none;
/*    text-transform: uppercase;*/
    font-size: 90%;
    border-bottom: 4px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s; /*transition the hover border interval*/
/*    padding: 26px 0;*/
    padding: 0;
}

.hemachndra-sub-menu li a:hover, 
.hemachndra-sub-menu li a:active,
.hemachandra-second-sub-menu li a:hover,
.hemachandra-second-sub-menu li a:active
{
    border-bottom: 3px solid #ff6b00;
    color: #ff6b00;
}

.navigation-sub-menu-title{    
    font-size: 79%;
    margin-top: 42px;
    text-align: center;
    margin-left: -50px;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.navigation-sub-menu-jewelery{
    font-size: 79%;
    margin-top: 42px;
    text-align: center;
/*    margin-left: 15px;*/
    margin-left: 45px;
    margin-bottom: 32px;
    text-transform: uppercase;
}


.hemachndra-sub-menu li,
.hemachandra-second-sub-menu li{
    line-height: 40px;
}

.First-sub-menu{
    width: 25%;
}

.navigation-submenu-row .col{
    margin:0;
}

.second-sub-row{
    background: #f2f2f2; 
    height: 312px;
/*    margin-left: -73px !important;*/
    margin-left: 40px !important;
    height: 318px;
    
    width: 100%;
    position: absolute;
    left: 335px;

}

.hemachandra-second-sub-menu{
        text-decoration: none;
    list-style: none;
    font-size: 82%;
/*    width: 50%;*/
    color: black;
    margin-left: 54px;
    width: 63%;
}

.fine-jewelery-section{
    width: 36%; 
    height: auto;
}

.collection-section{
    transform: translate(34%);
}
.list-of-view-menu{
    border-right: 1px solid  #c6c5c5;
}
.navigation-submenu-row{
    display: none;
}
.display-on{
    display: block;
}

.active{
    color: #ff6b00 !important;
        border-bottom: 3px solid #ff6b00 !important;
}
.carousel-cell.is-clicked {
    transform: scale(1.2);    
}

/* mobile responsive sub menu custom style */

.mobile-submenu-class{
    width: 45%;
    height: 14%;
    display: block !important;
    
    list-style: none outside none;
    margin:0; 
    padding: 0; 
    text-align: center;
    margin-top: -27px;
}

.navigation-unorderlist li{
    margin-bottom: 17px;
}

.mobile-submenu-class li{
    float: left;
    display: block;;
}

.paragraph-submenu-class{
    color: black; 
    float: left; 
    margin-bottom: 29px; 
    font-weight: 600;
}

/* mobile navigation submenu hidden */
.mobile-menu-navigation-sub-menu{
    display: none;
}

/* mobile navigation submenu shown css*/
.mobile-menu-navigation-sub-menu-display-on{
    display: block;
}
 


/*========================================================================================*/
/* paralax effect custom stylehseet*/
/*========================================================================================*/

body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #267481;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
}
.cd-section h2 {
  line-height: 100vh;
  text-align: center;
  font-size: 2.4rem;
}
.cd-section:first-of-type > div {
  background-color: #2b334f;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > div {
  background-color: #267481;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  background-color: #f06a59;
}
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
 /* background-image: url("../img/img-1.jpg");*/
  background: red;
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("../img/img-2.jpg");
  background: blue;
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/img-3.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/img-5.jpg");
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}


#getFixed {
  width: 100%;
    background: white;
}

/* =======  sticky navigation menu ========*/

#sticky-navi{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    
}

#sticky-navi{
    display: none ;
}


.stickactive{
    display: block !important;
}
/*
.sticky-navigation .main-nav{
     margin-top: 18px;
}

.sticky-navigation .main-nav li a:link, 
.sticky-navigation .main-nav li a:visited
{
    color: #555;
    padding: 7px 0 !important;
}

.sticky-navigation .logo{
    display: none;
}

.sticky-navigation .logo-black{
    display: block;
}
*/

.stickylogocen {
    transform: translate(4%, 16%);
}

.sticky_navi_logo {

   height: 100%;
    width: 100%;;
    margin: 0 auto !important;
    margin-top: 20px;
    /*
    height: 100px;
    width: auto;*/
}

.sticky-main-nav {
    
    /*padding: 27px 32px 28px 38px;*/
   /* padding: 27px 32px 28px 13px;*/
     padding: 27px 32px 25px 13px;
    font-size: 15px;
    font-size: 98%;
    margin: 0 auto;
}

.sticky-main-nav li {
    display: inline-block;
    /* margin-left: 40px; */
    margin-left: 47px;
    margin-top: -20px;
}

.stickynavirow {
    max-width: 891px;
    max-height: 200px;
    margin: 0px auto;
    background: white;
}

.stickycontainer{
    margin: 0 auto;
}

.naviagtion-background{
      background-image: url(../img/pattern/max-pattern.png);
    background-repeat: repeat;
}
/* =======  sticky navigation menu ended ========*/

 
.hemachandra-widthadjuster{
    max-width: 1101px;
}

.bottom-divider-breaker{
    background: white; 
    width: 100%; 
    height: 76px; 
    position: relative; 
    bottom: 0; top: 258px; 
    background-image: url(../img/pattern/max-pattern.png); 
    background-position: center; 
}


/* motherpick divider*/
.motherday-divider{
    margin-top: 56px;
}



   
